@model IEnumerable<Formularios.Models.Campos>

@{
    var formulario = Model.FirstOrDefault()?.Formulario;
    ViewBag.Title = "Campos del formulario " + formulario?.Nombre;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = formulario?.Id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Campo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requerido)
        </th>
        <th>Tipo</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Campo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requerido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipos.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
